/*
light red #cd4b45
dark red #a02526
light green #22ba94
dark green #1d5548
yellow #e6b159
smoke #eee*/

/*Background brand colours*/

.bg-l-red{
	background-color: #cd4b45;
}

.bg-d-red{
	background-color: #a02526
}

.bg-l-green{
	background-color: #22ba94;
}

.bg-d-green{
	background-color: #1d5548;
}

.bg-l-yellow{
	background-color: #f0ce95;
}

.bg-yellow{
	background-color: #e6b159;
}

.bg-smoke{
	background-color: #eee;
}

/*Text brand colours*/

.l-red{
	color: #cd4b45;
}

.d-red{
	color: #a02526
}

.l-green{
	color: #22ba94;
}

.d-green{
	color: #1d5548;
}

.yellow{
	color: #e6b159;
}

.smoke{
	color: #eee;
}


/*Background colours, shades of grey light to dark from 1 to 5*/

.bg-1{
	background-color: #F0F0F0;
}

.bg-2{
	background-color: #D0D0D0;
}

.bg-3{
	background-color: #B0B0B0;
}

.bg-4{
	background-color: #787878;
}

.bg-5{
	background-color: #202020;
}

/*text colours*/

.white{
	color: #fff;
}

.black{
	color: #000;
}

.current{
	color: #787878
}

