html{
	font-family: 'Montserrat', sans-serif;
}

.cards-logo{
	max-width: 10em;
}

.banner{
	background-image: url("../images/pattern.svg");
	background-size: 70px;
	background-repeat: repeat;
	background-color: #a02526;
}




/*utilities*/

	/* 
		s-hide: visually hides things on small screen up to 25em;
		l-wrap: max-width of 60em to wrap things after l breakpoint;
		margin-auto: Centers horizontally;
		max-7: max-width of 7rem;
	*/


/*s-hide*/
@media only screen and (max-width: 25em){
	.s-hide{
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		border: 0;
		clip: rect(0 0 0 0);
	}
}

/*l-wrap*/
.l-wrap{
	max-width: 60rem;
	margin: 0 auto;
}

/*margin-auto*/
.margin-auto{
	display: block;
	margin-left:auto;
	margin-right:auto;
}






/*fake field box*/

.field{
	display: inline-block;
	background-color: #fff;
	border-radius: 8px;
	color: grey;
	text-align: center;
	padding: 0.375em 0.75em 0.42em;
	margin: 1rem;
}

@media only screen and (min-width: 60em){
	.field{
		margin: 0;
	}
}





 





