/*
SIZES
@media only screen and (min-width: 25em) 
@media only screen and (min-width: 38em)
@media only screen and (min-width: 60em)
*/

html{
	font-family: 'Poppins', sans-serif;
}

/*utilities*/

	/* 
		s-hide: visually hides things on small screen up to 25em;
		l-wrap: max-width of 60em to wrap things after l breakpoint;
		margin-auto: Centers horizontally;
		max-7: max-width of 7rem;
	*/


/*s-hide*/
@media only screen and (max-width: 25em){
	.s-hide{
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		border: 0;
		clip: rect(0 0 0 0);
	}
}

/*l-wrap*/
.l-wrap{
	display: block;
	max-width: 50rem;
	margin: 0 auto;
}

/*m-wrap*/
.m-wrap{
	max-width: 30rem;
	display: block;
	margin: 0 auto;
}

.s-wrap{
	max-width: 25rem;
	display: block;
	margin: 0 auto;
}

.xs-wrap{
	max-width: 15rem;
	display: block;
	margin: 0 auto;
}



/*margin-auto*/
.margin-auto{
	display: block;
	margin-left:auto;
	margin-right:auto;
}







/*fake field box*/

.field{
	display: inline-block;
	background-color: #fff;
	border-radius: 8px;
	color: grey;
	text-align: center;
	padding: 0.375em 0.75em 0.42em;
	margin: 1rem;
}

@media only screen and (min-width: 60em){
	.field{
		margin: 0;
	}
}


/*SPECIFIC CLASS STYLES*/

/*hero banner on homepage*/

.banner{
	background-image: url("../images/pattern.svg");
	background-size: 150px;
	background-repeat: repeat;
	background-color: #a02526;
}





/* header banners */

.header{
	font-weight: 700;
	padding: .5rem;
}



@media only screen and (min-width: 25em){
	.header{
		padding: 1rem;
	}
}


@media only screen and (min-width: 38em){
	.header{
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 60em){
	.header{
		padding: 2rem;
	}
}




/*buckets on homepage*/

.bucket{
	min-height: 20rem;
}

@media only screen and (min-width: 60em){
	.bucket{
		margin-bottom: 3rem;
		margin-top: 3rem;
	}

	.bucket--left{
		margin-right: 1.5rem;
	}
}

.prefooter{
	padding-top: 3rem;
	padding-bottom: 3rem;
}




/*feature box on tour page*/


.feature{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

@media only screen and (min-width: 60em){
	.feature{
		width: 60rem;
	}
}



/*form styling*/

form{
	border: solid 10px #eee;
}

input{
	box-shadow: inset 0px 0px 0px 0px;
}

.text-input{
	background-color: #eee;
	width: 100%;
}

.radio-input{
	display: inline-block;
}

@media only screen and (max-width: 25em){
	.radio-input{
		display: block;
	}
}

.select{
	width: 100%;
	background-color: #eee;
	border: solid 1px #eee;
}

.select-light{
	width: 100%;
	background-color: #fff;
	border: solid 1px #eee;
}

fieldset{
	border: 0px;
}

.fieldset{
	border: solid 1px #eee;
}


/*links*/

a{
	color: #1d5548;
}

 





